<div class="row">
  <div class="col text-center">
    <h2><%= # noinspection RailsI18nInspection
            title t('.account_details') %></h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header bg-light">
        <h4 class="card-title"><%= resource.name %></h4>
        <h6 class="card-subtitle"><%= resource.email %></h6>
      </div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :password %> <i>(<%= # noinspection RailsI18nInspection
                                             t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= t('.min_password_length', count: @minimum_password_length) %></em>
            <% end %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="field form-group">
            <%= f.label :current_password %> <i>(<%= # noinspection RailsI18nInspection
                                                     t('.we_need_your_current_password_to_confirm_your_changes') %>)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="actions form-group">
            <%= # noinspection RailsI18nInspection
                f.submit t('.update'), class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
