<h2><%= t('.title', file: @file_name) %></h2>

<p><%= t('.introduction', name: @user.name) %></p>

<p><%= t('.reminder') %></p>

<p><%= t('.exception_details') %></p>

<pre>
  <%= @exception.message %>
  Backtrace: <% @exception.backtrace.each do |item| %>
    - <%= item %>
  <%- end %>
</pre>
