<h2><%= t('.title', file: @file_name) %></h2>

<p><%= t('.introduction', name: @user.name) %></p>

<% unless @created_users.empty? %>
<p><%= t('.created_users') %></p>

<ul>
  <% @created_users.each do |user| %>
  <li><%= link_to user.name, admin_user_url(user) %> &lt;<%= link_to user.email, "mailto:#{user.email}" %>&gt;</li>
  <% end %>
</ul>
<% else %>
<p><%= t('.no_created_users') %></p>
<% end %>

<% unless @created_groups.empty? %>
<p><%= t('.created_groups') %></p>

<ul>
  <% @created_groups.each do |group| %>
  <li><%= link_to group.display_name, admin_group_url(group) %></li>
  <% end %>
</ul>
<% else %>
<p><%= t('.no_created_groups') %></p>
<% end %>
