<%
  project = item[0]
  submission = item[1]
%>
<div class="col-md-12">
  <div class="panel panel-<%= submission_status(project, submission) %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to project.display_name, project_path(project) %>
        <% unless project.url.blank? %>
          (<%= link_to "Subject", project.url, target: 'blank' %>)
        <% end %>
        <% if submission_late?(project, submission) %>
          <strong>(late)</strong>
        <% end %>
      </h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <p>Due date: <%= render_date project.end_time %></p>
        </div>
        <div class="col-md-6 col-xs-12">
          <% if submission = project.submission %>
            <p><%= link_to "File submitted on #{render_date(submission.created_at, project.end_time, "due date")}", submission.file.url %></p>
          <% else %>
            <p><%= link_to "No file submitted yet.", project_path(project) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>