<div class="row">
  <div class="col-12 text-center">
    <h2><%= title t('.yours') %></h2>
  </div>
</div>
<div class="row">
  <%
    late_not_submitted = []
    not_submitted = []
    submitted = []

    @projects.each do |project|
      submission = project.submission

      if submission
        submitted << project
      else
        if submission_late?(project, submission)
          late_not_submitted << project
        else
          not_submitted << project
        end
      end
    end

    submitted = submitted.sort_by(&:end_time).reverse
  %>
  <% if late_not_submitted.any? %>
    <div class="col-12">
      <h3><%= t('.late_projects') %> <span class="badge badge-pill badge-danger"><%= late_not_submitted.length %></span></h3>
    </div>
    <%= render partial: 'project', collection: late_not_submitted %>
    <hr />
  <% end %>
  <% if not_submitted.any? %>
    <div class="col-12">
      <h3><%= t('.current_projects') %> <span class="badge badge-pill badge-info"><%= not_submitted.length %></span></h3>
    </div>
    <%= render partial: 'project', collection: not_submitted %>
    <hr />
  <% end %>
  <% if submitted.any? %>
    <div class="col-12">
      <h3><%= t('.completed_projects') %> <span class="badge badge-pill badge-success"><%= submitted.length %></span></h3>
    </div>
    <%= render partial: 'project', collection: submitted %>
    <hr />
  <% end %>
</div>
