<div class="row mb-3">
  <div class="col text-center">
    <h2><%= title @project.display_name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><%= t('.details') %></div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4"><%= t('activerecord.attributes.project.name') %></dt>
          <dd class="col-sm-8"><%= @project.display_name %></dd>
          <% unless @project.url.blank? %>
            <dt class="col-sm-4"><%= t('project.project.subject') %></dt>
            <dd class="col-sm-8"><%= link_to t('.link'), @project.url, target: 'blank' %></dd>
          <% end %>
          <dt class="col-sm-4"><%= t('activerecord.attributes.project.start_time') %></dt>
          <dd class="col-sm-8"><%= render_date @project.start_time %></dd>
          <dt class="col-sm-4"><%= t('activerecord.attributes.project.end_time') %></dt>
          <dd class="col-sm-8"><%= render_date @project.end_time %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><%= t('assignment.details') %></div>
      <div class="card-body">
        <% assignment_group = @project.assignment_group(current_user) %>
        <dl class="row">
          <dt class="col-sm-4"><%= t('activerecord.models.group', count: 1) %></dt>
          <dd class="col-sm-8"><%= assignment_group.display_name %></dd>
          <dt class="col-sm-4"><%= t('group.contact') %></dt>
          <dd class="col-sm-8"><%= link_to assignment_group.admin.name,
                                   "mailto:#{assignment_group.admin.name}" %></dd>
        </dl>
      </div>
    </div>
  </div>

  <% unless (md = markdown(@project.submission_details)).nil? %>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-header"><%= t('activerecord.attributes.project.submission_details') %></div>
        <div class="card-body">
          <%= md %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-12 mt-3">
    <% submission = @project.submission %>
    <% submission_late = submission_late?(@project, submission) %>
    <div class="card border-<%= submission_status(@project, submission) %>">
      <div class="card-header"><%= t('.submitted_files') %> <% if submission_late %><strong class="badge badge-pill badge-danger text-lowercase"><%= t('submission.late') %></strong><% end %></div>
      <div class="card-body">
        <% if submission %>
          <p>
            <%= t('submission.already_submitted_html',
                  date: render_date(submission.created_at, @project.end_time, t('project.due_date_distance')),
                  file: link_to(submission.file.file.filename, submission_path(submission)),
                  size: number_to_human_size(submission.file.size)) %>
          </p>
          <p><%= t('submission.file_readonly') %></p>
          <% if submission_late %>
            <p><%= t('submission.late_notice') %></p>
          <% end %>
        <% else %>
          <% if Rails.configuration.x.apitp.team_submissions and @project.team_id.nil? %>
            <p class="alert"><%= t('.team_required') %></p>
          <% else %>
            <%= form_for Submission.new(user: current_user, project: @project), html: { multipart: true } do |f| %>
              <%= f.hidden_field :project_id %>
              <div class="input-group">
                <p>
                  <%= t('submission.not_submitted_yet', size: number_to_human_size(@project.max_upload_size)) %>
                  <span class="btn btn-light btn-file">
                  <%= t('forms.browse') %> <%= f.file_field :file, class: 'upload-notify-input', 'data-max-size' => @project.max_upload_size, 'data-max-size-alert' => t('.max_size_alert') %>
                </span>
                  <%= f.submit t('forms.upload'), class: 'btn btn-success upload-notify-target' %>
                </p>
              </div>
            <% end %>
            <p><%= t('submission.file_readonly_warning_html') %></p>
            <% if submission_late %>
              <p><%= t('submission.not_submitted_late_notice') %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>