<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <%= link_to "APITP", current_page?(root_path) ? '#' : root_path,
                                     class: "navbar-brand" %>

  <div class="navbar-nav mr-auto">
    <%= navbar_element t('activerecord.models.project', count: 2), root_path %>
  </div>

  <div class="navbar-nav">
    <% if user_signed_in? %>
      <%= navbar_element current_user.name_email, edit_user_registration_path %>
      <%= link_to t('devise.sessions.destroy.sign_out'), destroy_user_session_path, class: "nav-item nav-link" %>
    <% else %>
      <%= # noinspection RailsI18nInspection
          navbar_element t('devise.sessions.new.sign_in'), new_user_session_path %>
    <% end %>
  </div>
</nav>
