<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "APITP", current_page?(root_path) ? '#' : root_path,
                                         class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <%= navbar_element t('activerecord.models.project', count: 2), root_path %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%= navbar_element current_user.name_email, edit_user_registration_path %>
        <li><%= link_to t('devise.sessions.destroy.sign_out'), destroy_user_session_path %></li>
      <% else %>
        <%= # noinspection RailsI18nInspection
            navbar_element t('devise.sessions.new.sign_in'), new_user_session_path %>
      <% end %>
    </ul>
  </div>
</nav>
