<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "APITP", current_page?(root_path) ? '#' : root_path,
                                         class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <% if current_page? root_path %>
        <li class="active"><a href="#"><%= link_to t('activerecord.models.project') %></a></li>
      <% else %>
        <li><%= link_to t('activerecord.models.project'), root_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_page? edit_user_registration_path %>
          <li class="active"><%= link_to current_user.name_email, "#" %></li>
        <% else %>
          <li><%= link_to current_user.name_email, edit_user_registration_path %></li>
        <% end %>
        <li><%= link_to t('devise.sessions.destroy.sign_out'), destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
