<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= if content_for?(:title) then "#{content_for(:title)} | APITP" else "APITP" end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'layouts/navbar' %>
      <%= render partial: 'layouts/alerts' %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
